/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding: 20px 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Customization of JSViewComponents */
.jsviewcomponent {
    border: 1px solid gray;
    box-shadow: 2px 2px grey;
    padding: 0px 5px;
}

.jsviewcomponent.singleitem {
    display: inline-block;
    margin: 10px 20px;
    vertical-align: top;

    &.alumn {
        border: solid 1px #d0e7a5;
    }

    &.course {
        border: solid 1px #ccdddd;
    }
}

.jsviewcomponent.table {
    display: inline-block;
    margin: 10px 20px;

    &.alumns thead {
        background-color: #d0e7a5;
    }

    &.courses thead {
        background-color: #ccdddd;
    }
}
