@using JSViewComponents
@using JSViewComponents.Demo.Views.JSVC.StudentReportCard
@model StudentReportCardViewComponent

@{
    Alumn alumn = Model.Data as Alumn;
    if (alumn == null)
    {
<!-- NO DATA -->
    }
    else
    {

<article>
    <h1>Report card for: @alumn.LastName, @alumn.FirstName</h1>
    <table>
        <tbody>
            @foreach (string course in alumn.Grades.Keys) { 
                <tr>
                    <th>@course</th>
                    <td>@alumn.Grades[course]</td>
                </tr>
            }
        </tbody>
    </table>

</article>

    }
}