@{
    ViewData["Title"] = "JSViewComponents demo";
}

<script src="~/JSViewComponents.js" asp-append-version="true"></script>
<link href="~/JSViewComponents.css" rel="stylesheet" type="text/css" />

<h1>JSViewComponents demo</h1>

<p>
    Demo for <strong>JSViewComponents</strong>, an extension of standard ASP.NET Core View components
    which allows to easily create <strong>visual components with added JavaScript/TypeScript functionality for ASP.NET</strong> projects.
</p>

<p><a target="_blank" href="https://github.com/jordisan/JSViewComponents">JSViewComponents source code and more info at <strong>GitHub</strong></a></p>

<h2>Using JSViewComponents</h2>
<p>
    Components <strong>SingleItem</strong> showing data for a single alumn and a single subject.
</p>
@{
    JSViewComponents.UI.SingleItem.SingleItemViewComponent alumnComponent =
        new JSViewComponents.UI.SingleItem.SingleItemViewComponent(
            "alumn",
            Alumn.SampleAlumns.First(),
            null
        );
}
<jsvc component="alumnComponent"></jsvc>

@{
    JSViewComponents.UI.SingleItem.SingleItemViewComponent subjectComponent =
        new JSViewComponents.UI.SingleItem.SingleItemViewComponent(
            "subject",
            Subject.SampleSubjects.First(),
            null
        );
}
<jsvc component="subjectComponent"></jsvc>


<p>
    Two differents sets of data using same <strong>TableViewComponent</strong>, but with different CSS styles
    <span style="font-size: smaller;">(click on the headers to get sorted data).</span>
</p>
@{
    JSViewComponents.UI.Table.TableViewComponent alumnsTableComponent =
        new JSViewComponents.UI.Table.TableViewComponent(
            "alumns",
            Alumn.SampleAlumns,
            null,
            Url.Action("GetAll", "Alumn", null, Context.Request.Scheme)
        );
}
<jsvc component="alumnsTableComponent"></jsvc>

@{
    JSViewComponents.UI.Table.TableViewComponent subjectsTableComponent =
        new JSViewComponents.UI.Table.TableViewComponent(
            "subjects",
            Subject.SampleSubjects,
            null,
            Url.Action("GetAll", "Subject", null, Context.Request.Scheme)
        );
}
<jsvc component="subjectsTableComponent"></jsvc>