@model IEnumerable<Alumn>

@{
    ViewData["Title"] = "JSViewComponents demo";
}

<script src="~/JSViewComponents.js" asp-append-version="true"></script>
<link href="~/JSViewComponents.css" rel="stylesheet" type="text/css" />

<h1>JSViewComponents demo</h1>

<p>
    Demo for JSViewComponents, an extension of standard ASP.NET Core View components
    which allows to easily create components with added JavaScript/TypeScript functionality for ASP.NET projects.
</p> 
    
<p>Source code and more info at <a target="_blank" href="https://github.com/jordisan/JSViewComponents">https://github.com/jordisan/JSViewComponents</a></p>

<h2>TableViewComponent</h2>

@{
    JSViewComponents.UI.Table.TableViewComponent alumnsTableComponent =
        new JSViewComponents.UI.Table.TableViewComponent(
            Model,
            null,
            Url.Action("GetAll", "Alumn", null, Context.Request.Scheme)
        );
}
<jsvc component="alumnsTableComponent"></jsvc>
