.jsviewcomponent.loading {
  cursor: wait;
  opacity: 0.5; }

.jsviewcomponent.table th.sortable {
  cursor: pointer; }

.jsviewcomponent.table th, .jsviewcomponent.table td {
  padding: 3px 5px; }

.jsviewcomponent.singleitem th {
  text-align: left; }

.jsviewcomponent.singleitem th, .jsviewcomponent.singleitem td {
  padding: 3px 5px; }
