/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding: 20px 10px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Customization of JSViewComponents */

.jsviewcomponent.table {
    display: inline-block;
    margin: 10px 20px;
}

    .jsviewcomponent.table.alumns thead {
        background-color: #e0f7a5;
    }

    .jsviewcomponent.table.subjects thead {
        background-color: #aaffff;
    }